#content{
  width:100%;
  padding-left: 18.8em;
  padding-right: 18.8em;
  .navbar{
    margin-bottom: 1.5em;
    margin-top: 12px;
  }
}

.navbar{
  &-search{
    width:100%;
    input{
      border:none;
      border-radius: 0px 8px 8px 0px;
      &:focus{
        box-shadow: none;
      }
      &::placeholder {
        color: lightgrey;
        opacity: 1;
      }
    }
    button{
      background:white;
      color:$primary-color;
      border:none;
      border-radius: 8px 0 0 8px;
      display: flex;
      align-items: center;
    }
  }
}


.drive{
  &-box{
    border:none;
    border-radius:5px;
    transition:all .2s linear;
    color:#333;
    &:hover{
      box-shadow:0 0 20px 5px rgba(88,100,255,0.3);
      transform:scale(1.1);
      background:$primary-color;
      color:$pure-white;

      .drive{
        &-option__btn{
          color:$pure-white;
        }
        &-progress{
          bcakground:$pure-white;
          .progress-bar{
            background-color:#FABC43;
          }
        }
      }
    }
  }
  &-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;
    figure{
      width: 40px;
      height:40px;
      margin:0;
      border-radius:5px;
      background:#F6F8FB;
      padding:8px;
      img{
        width:100%;
        height:100%;

      }
    }

  }
  &-option{
position:relative;
    color:grey;
    &.active-option{
      .drive-option__dropdown{
        display:block;
      }
    }
    &__btn{
      //color:gainsboro;
      width: 35px;
      height: 35px;
      padding: 10px;
      transition: all .2s linear;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 14px;
      border:none;
      background: none;
      color:grey;
      &:focus{
        outline:none;
      }
      &:hover{
        background: $pure-white;
        color:grey!important;
      }
    }
    &__dropdown{
      display:none;
      position:absolute;
      right:0;top:36px;
      font-size: 12px;
      letter-spacing: .2px;
      border: none;
      border-radius: 4px;
      box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
      line-height: 20px;
      padding:5px;
      width: 175px;
      background:$pure-white;
      color:#333!important;
    }
  }
  &-body{
    padding:12px;
  }
  &-title{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &-space{
    display:flex;
    justify-content: space-between;
    font-size:10px;
    margin-bottom:3px;
  }

  &-progress{
    height:4px;
    .progress-bar{
      background-color:$accent-color;
    }
  }


}

.folder{
&-box{}
  &-body{
    padding:12px;
  }
  &-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:0.5em;
    i{
      color:$primary-color;
      font-size: 18px;
    }
  }
  &-users{}
  &-user{
    border:1px solid #FF6760;
    width:25px;
    height: 25px;
    border-radius:50%;
    overflow:hidden;
    position:relative;
    &:before{
      content:'';
      position:absolute;
      width:20px;
      height:20px;
      border:1px solid $pure-white;
      left:0;
      top:0;
    }
    figure{
      display:block;
      height:100%;
      width:100%;
      img{
        display:block;
        width:100%;
        height:100%;
        object-fit: cover;
      }
    }
  }
  &-footer{
    &__title{
      font-size: 12px;
      color:#0E1C71;
      font-weight: 500;
    }
    &__quantity{
      font-size: 10px;
      color:grey;
    }
  }
}

.section{
  &-content{
    margin-bottom: 2em;
  }
  &-datatable{
    thead{
      font-size:12px;
      color:grey;
      tr{
        th{
          border:none;
          font-weight: 500;
        }
      }
    }
    tbody{
      th,td{
        border:none;
      }
      tr{
        font-size: 12px;
        &:hover{
          background-color:white;
          box-shadow: 0 0 14px -3px rgba(0, 0, 0, 0.2);

        }
      }
      td{
        color:grey;
      }
      .more-option{
        color:grey;
      }
        .name-details{
          font-weight: 100;
          img{
            width:20px;
            height:20px;
            margin-right: 10px;
          }
        }
    }
  }
}
.content{

  &-heading{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:1.2rem 0;
    &__title{
      color:#0E1C71;
      font-weight: 500;
      font-size: 18px;
    }
    &__meta{
      color:$primary-color;
      font-size: 12px;
      font-weight: 500;
    }
  }
}
