.rightside-wrapper{
  width:18.8em;
  position:fixed;
  right:0;
  background:$pure-white;
  height:100vh;
}

.storage{
  &-wrapper{
    padding:20px;
    background: $pure-white;
  }
  &-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 5px;
    &__used{
      color:$primary-color;
    }
    &__total{
      color:lightgrey;
    }
  }
  &-meta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8em;
    margin-bottom: 10px;
    .greytext{
      color:grey;
    }
    .purpletext{
      color:$primary-color
    }
  }
  &-progress{
    height:8px;

    .progress-bar{
      background-color:$primary-color;
    }
  }
  &-list{
    a{
      display:flex;
      justify-content: space-between;
      align-items: center;
    }
    li{
      margin:18px 0;
      figure{
        width:40px;
        height:40px;
        margin:0;
        padding:10px;
        background:#EFF0FE;
        display:flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin-right: 10px;
        img{
          width:100%;
          height:100%;
        }
      }

    }
    &__left{
      display:flex;

    }
    &__meta{
      display:flex;
      flex-direction:column;
      font-size: 0.8em;
      .uptext{
        color:#0E1C71;
      }
      .downtext{
        color:grey;
      }
    }
    &__gainspace{
      color:$primary-color;
      font-weight: 500;
      font-size: 0.9em;
    }
  }
}

.upgrade{
  &-card{
    margin:20px;
    text-align: center;
    background: $pure-white;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    img{
      width:100%;
      height:100%;
    }
  }
  &-title{
    color:#0E1C71;
    font-size: 1em;
    display:block;
    font-weight: 600;
    margin-bottom: 1em;
  }
  &-subcontent{
    color:#535BB3;
    font-size: 0.6em;
    display:block;
    margin-bottom: 1em;
    line-height: 1.8em;
  }
  &-btn{
    background: $primary-color;
    color:$pure-white;
    border:none;
    font-size: 0.8em;
    border-radius: 5px;
    padding: 5px 20px;
  }
}
