ul{
  margin:0;
  padding:0;
}

body{
  background: #F6F8FB;
}

.sidebar{
  display: flex;
  height: 100vh;
  position:fixed;
  &-left{
    width:3.8em;
    background:$primary-color;
    padding:10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    .navbar{
      &-nav{

        color:$pure-white;
        align-items: center;
        a{
          color:$pure-white;
        }
      }
      &-item{
        width:100%;
      }
      &-link{
        width: 100%;
        text-align: center;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition:all 0.25s linear;
        position:relative;
        .lnr{
          font-weight: 600;
        }
        &:before{
          content:'';
          width:3px;
          background:$pure-white;
          height:100%;
          position:absolute;
          left:-5px;
          top:0;
          transition: all 0.2s linear;
        }
        &:hover{
          background:$accent-color;
          &:before{
            left:0;
          }
        }
      }
    }
  }
  &-right{
    background:$pure-white;
    width: 15em;
    overflow-y: scroll;
  }
}

.title-text{
  font-weight: 500;
  font-size: 22px;
}
.widget{
  &-block{
    padding:20px;
  }
  &-title{
    font-size:14px;
    color:$primary-color;
  }
  &-list{
    margin:10px 0;
  }
  &-item{

  }
  &-link{
    display: flex;
    align-items: center;
    color:$pure-black;
    font-size: 12px;
    padding:5px 10px;
    text-transform: capitalize;
    i{
      color:#AAAFCD;
    }
    &--text{
      padding-left:5px;
      color:#0E1C71;
    }
  }
}

.widget-link-1{
  justify-content: space-between;
}

.widget-box{
  background: #f1f3f9;
  border-radius:5px;
  hr{
    margin:0;
  }
  .widget-list{
    margin:0;
    line-height: 1.2em;
  }
  .widget-link{
    padding: 8px 12px;
    i{
      color:$primary-color;
    }
  }

}

.main-list{
  line-height:1.8em;
  a{
    color:#0E1C71;
    font-weight: 500;
    &:hover{
      color:$primary-color
    }
  }
}

.sidebar{
  &-menu{

    .widget-item{
      .rightarrow{
        //margin-right:8px!important;
      }
      &.active-menu{
        .rightarrow{
          transform:rotate(90deg)
        }
      }
    }
  }
  &-submenu{
    display:none;
    padding-left: 1.2em;
    padding-top: .5em;
    padding-bottom: .5em;
    background: whitesmoke;
    border-radius:5px;
    ul{
      li{
        a{
          font-size:12px;
          color:grey;
        }
      }
    }
  }
}


.create-btn{
  background: $primary-color;
  color:$pure-white;
  display: flex;
  align-items: center;
  padding: 0.5em;
  justify-content: space-between;
  border-radius:5px;
  margin:1em 0;
  font-size: 14px;
  &:hover{
    color:$pure-white;
  }
  i{
    background:#7983FF;
    border-radius:5px;
    padding: 8px;
    font-size: 10px;

  }
}

.team-box{
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f1f3f9;
  &--inner{
    display:flex;
    flex-direction: column;
  }
  i{
    color:#979CC1;
  }
  .team-header{
    color:$pure-black;
    font-weight: 500;
    font-size: 18px;
  }
  .team-member{
    color:#979CC1;
    font-size: 14px;
  }
}

.profile-link{
  width:40px;
  height:40px;
  display:block;
  margin:0 auto;
  border:2px solid $pure-white;
  border-radius: 50%;
  img{
    width:100%;
    height:100%;
  }
}

.sidebar-brand{
  font-size:22px;
  background:$pure-white;
  background: white;
  color: $primary-color!important;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-bottom:1.5em;

}
