<div id="content">
    <nav class="navbar">
        <form class="navbar-search">
            <div class="input-group">
                <button class="btn " type="button">
                    <span class="lnr lnr-magnifier"></span>
                </button>
                <input type="text" class="form-control " placeholder="Search the files" aria-label="Search">

            </div>
        </form>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <a href="" class="card drive-box">
                    <div class="card-body drive-body">
                        <div class="drive-header">
                            <figure>
                                <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/google-drive-512.png"
                                     alt="">
                            </figure>
                            <div class="drive-option">
                                <button class="drive-option__btn">

                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="drive-option__dropdown">
                                    <ul>
                                        <li><div>Mark all as read</div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="drive-title">
                            Google Drive
                        </div>
                        <div class="drive-footer">
                            <div class="drive-space">
                                <span class="drive-used">45.5 GB</span>
                                <span class="drive-total">50 GB</span>
                            </div>

                            <div class="progress drive-progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="" class="card drive-box">
                    <div class="card-body drive-body">
                        <div class="drive-header">
                            <figure>
                                <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/google-drive-512.png"
                                     alt="">
                            </figure>
                            <div class="drive-option">
                                <button class="drive-option__btn">

                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="drive-option__dropdown">
                                    <ul>
                                        <li><div>Mark all as read</div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="drive-title">
                            Google Drive
                        </div>
                        <div class="drive-footer">
                            <div class="drive-space">
                                <span class="drive-used">45.5 GB</span>
                                <span class="drive-total">50 GB</span>
                            </div>

                            <div class="progress drive-progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="" class="card drive-box">
                    <div class="card-body drive-body">
                        <div class="drive-header">
                            <figure>
                                <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/google-drive-512.png"
                                     alt="">
                            </figure>
                            <div class="drive-option">
                                <button class="drive-option__btn">

                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="drive-option__dropdown">
                                    <ul>
                                        <li><div>Mark all as read</div></li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                        <div class="drive-title">
                            Google Drive
                        </div>
                        <div class="drive-footer">
                            <div class="drive-space">
                                <span class="drive-used">45.5 GB</span>
                                <span class="drive-total">50 GB</span>
                            </div>

                            <div class="progress drive-progress">
                                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <section class="section-content">
            <div class="content-heading">
                <span class="content-heading__title">Folders</span>
                <a href="" class="content-heading__meta">View all</a>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="" class="card folder-box">
                        <div class="card-body folder-body">
                            <div class="folder-header">
                                <i class="fas fa-folder"></i>
                                <ul class="folder-users">
                                    <li class="folder-user">
                                        <figure>
                                            <img src="https://www.rd.com/wp-content/uploads/2017/09/01-shutterstock_476340928-Irina-Bg-1024x683.jpg"
                                                 alt="">
                                        </figure>
                                    </li>
                                </ul>
                            </div>
                            <div class="folder-footer">
                                <div class="folder-footer__title">
                                    Analytics
                                </div>
                                <div class="folder-footer__quantity">
                                    15 files
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="" class="card folder-box">
                        <div class="card-body folder-body">
                            <div class="folder-header">
                                <i class="fas fa-folder"></i>
                                <ul class="folder-users">
                                    <li class="folder-user">
                                        <figure>
                                            <img src="https://www.rd.com/wp-content/uploads/2017/09/01-shutterstock_476340928-Irina-Bg-1024x683.jpg"
                                                 alt="">
                                        </figure>
                                    </li>
                                </ul>
                            </div>
                            <div class="folder-footer">
                                <div class="folder-footer__title">
                                    Analytics
                                </div>
                                <div class="folder-footer__quantity">
                                    15 files
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="" class="card folder-box">
                        <div class="card-body folder-body">
                            <div class="folder-header">
                                <i class="fas fa-folder"></i>
                                <ul class="folder-users">
                                    <li class="folder-user">
                                        <figure>
                                            <img src="https://www.rd.com/wp-content/uploads/2017/09/01-shutterstock_476340928-Irina-Bg-1024x683.jpg"
                                                 alt="">
                                        </figure>
                                    </li>
                                </ul>
                            </div>
                            <div class="folder-footer">
                                <div class="folder-footer__title">
                                    Analytics
                                </div>
                                <div class="folder-footer__quantity">
                                    15 files
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </section>

        <section class="section-content">
            <div class="content-heading">
                <span class="content-heading__title">Recents Files</span>
                <a href="" class="content-heading__meta">View all</a>
            </div>
            <table class="table table-hover section-datatable">
                <thead>
                <tr>
                    <th scope="col">Name <i class="fas fa-arrow-up"></i></th>
                    <th scope="col">Members</th>
                    <th scope="col">Last Modified</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row ">
                        <div class="name-details">
                            <img src="https://gwaverf.com/wp-content/uploads/2018/08/pdf-icon.png" alt="" class="file-image">
                            <span>competitor Analysis Template</span>
                        </div>
                    </th>
                    <td>
                        <span>only you</span>
                    </td>
                    <td>Sep 2,2019</td>
                    <td><a href="" class="more-option"><i class="fas fa-ellipsis-h"></i></a></td>
                </tr>
                <tr>
                    <th scope="row ">
                        <div class="name-details">
                            <img src="https://gwaverf.com/wp-content/uploads/2018/08/pdf-icon.png" alt="" class="file-image">
                            <span>competitor Analysis Template</span>
                        </div>
                    </th>
                    <td>
                        <span>only you</span>
                    </td>
                    <td>Sep 2,2019</td>
{#                    <td><a href="" class="more-option"><i class="fas fa-ellipsis-h"></i></a></td>#}
                    <td>
                        <div class="drive-option">
                            <button class="drive-option__btn">

                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div class="drive-option__dropdown">
                                <ul>
                                    <li><div>Mark all as read</div></li>
                                </ul>
                            </div>
                        </div>
                    </td>

                </tr>

                </tbody>
            </table>
        </section>
    </div>

</div>
