<div class="rightside-wrapper">
    <div class="storage-wrapper">
        <div class="storage-space">
            <div class="storage-space__used">45.5 GB</div>
            <div class="storage-space__total">50 GB</div>
        </div>
        <div class="storage-meta">
            <span class="greytext">Used</span>
            <a href="" class="purpletext">Upgrade</a>
        </div>
        <div class="progress storage-progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                 aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <ul class="storage-list">
            <li >
                <a href="">
                    <div class="storage-list__left">
                        <figure><img src="https://icon-library.com/images/img-icon/img-icon-14.jpg" alt=""></figure>
                        <div class="storage-list__meta">
                            <span class="uptext">Images</span>
                            <span class="downtext">1,756 files</span>
                        </div>
                    </div>
                    <div class="storage-list__gainspace">15.3 GB</div>

                </a>
            </li>
            <li >
                <a href="">
                    <div class="storage-list__left">
                        <figure><img src="https://icon-library.com/images/img-icon/img-icon-14.jpg" alt=""></figure>
                        <div class="storage-list__meta">
                            <span class="uptext">Images</span>
                            <span class="downtext">1,756 files</span>
                        </div>
                    </div>
                    <div class="storage-list__gainspace">15.3 GB</div>

                </a>
            </li>
        </ul>
    </div>
    <div class="upgrade-card">
        <img src="https://cdn.dribbble.com/users/3797550/screenshots/6735144/upgrade_your_hosting-01_2x.png" alt="">
        <span class="upgrade-title">Upgrade account!</span>
        <span class="upgrade-subcontent">5 integrations, 30 team members, advanced features for teams.</span>
        <button class="upgrade-btn">Upgrade</button>
    </div>
</div>
