<div class="sidebar">
    <div class="sidebar-left">
        <ul class="navbar-nav">
            <a href="" class="sidebar-brand">
                <span class="lnr lnr-printer"></span>
            </a>
            <li class="navbar-item">
                <a href="" class="navbar-link">
                    <span class="lnr lnr-file-empty"></span>
                </a>
            </li>
            <li class="navbar-item">
                <a href="" class="navbar-link">
                    <span class="lnr lnr-bubble"></span>
                </a>
            </li>
            <li class="navbar-item">
                <a href="" class="navbar-link">
                    <span class="lnr lnr-user"></span>
                </a>
            </li>

            <li class="navbar-item">
                <a href="" class="navbar-link">
                    <span class="lnr lnr-database"></span>
                </a>
            </li>
            <li class="navbar-item">
                <a href="" class="navbar-link">
                    <span class="lnr lnr-cog"></span>
                </a>
            </li>
        </ul>
        <a href="" class="profile-link">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1024px-Circle-icons-profile.svg.png"
                 alt="" class="img-responsive img-profile">
        </a>
    </div>
    <div class="sidebar-right">
        <a href="" class="widget-block team-box">
            <div class="team-box--inner">
                <span class="team-header">Marketing Team</span>
                <span class="team-member">17 members</span>
            </div>
            <i class="fas fa-angle-down"></i>
        </a>
        <div class="navbar-nav widget-block">
            <h6 class="title-text">Storage</h6>
            <div class="widget-title">My Files</div>
            <ul class="widget-list sidebar-menu">
                <li class="widget-item">
                    <a class="widget-link" href="javascript:void(0)">
                        <i class="fas fa-caret-right mr-2 rightarrow"></i>
                        <i class="fas fa-folder"></i>
                        <span class="widget-link--text">Analytics</span>
                    </a>
                    <div class="sidebar-submenu" >
                        <ul>
                            <li><a href="buttons.html" title="Buttons"><span>Buttons</span></a></li>
                            <li><a href="buttons.html" title="Buttons"><span>Buttons</span></a></li>
                            <li><a href="buttons.html" title="Buttons"><span>Buttons</span></a></li>

                        </ul>

                    </div>
                </li>
                <li class="widget-item">
                    <a class="widget-link" href="">
                        <i class="fas fa-caret-right mr-2 rightarrow"></i>
                        <i class="fas fa-folder"></i>
                        <span class="widget-link--text">Assets</span>
                    </a>
                </li>
                <li class="widget-item">
                    <a class="widget-link" href="">
                        <i class="fas fa-caret-right mr-2 rightarrow"></i>
                        <i class="fas fa-folder"></i>
                        <span class="widget-link--text">Marketing</span>
                    </a>
                </li>
                <li class="widget-item">
                    <a class="widget-link" href="">
                        <i class="fas fa-caret-right mr-2 rightarrow"></i>
                        <i class="fas fa-folder"></i>
                        <span class="widget-link--text">Templates</span>
                    </a>
                </li>
                <li class="widget-item">
                    <a class="widget-link" href="">
                        <i class="fas fa-caret-right mr-2 rightarrow"></i>
                        <i class="fas fa-folder"></i>
                        <span class="widget-link--text">projects</span>
                    </a>
                </li>
                <li class="widget-item">
                    <a class="widget-link" href="">
                        <i class="fas fa-caret-right mr-2 rightarrow"></i>
                        <i class="fas fa-folder"></i>
                        <span class="widget-link--text">projector Courses</span>
                    </a>
                </li>

            </ul>

            <ul class="widget-list main-list ">
                <li class="widget-title"><a class="" href="">Shared with me</a></li>
                <li class="widget-title"><a class="" href="">Recent</a></li>
                <li class="widget-title"><a class="" href="">Starred</a></li>
                <li class="widget-title"><a class="" href="">Trash</a></li>
            </ul>



            <div class="widget-box">
                <ul class="widget-list">
                    <li class="widget-item">
                        <a class="widget-link" href="">
                            <i class="fas fa-folder"></i>
                            <span class="widget-link--text">Folder</span>
                        </a>
                    </li>
                    <hr>
                    <li class="widget-item">
                        <a class="widget-link widget-link-1" href="">
                            <div>
                                <i class="fas fa-folder"></i>
                                <span class="widget-link--text">Text Doc</span>
                            </div>
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li><li class="widget-item">
                        <a class="widget-link widget-link-1" href="">
                            <div>
                                <i class="fas fa-folder"></i>
                                <span class="widget-link--text">Presentation</span>
                            </div>

                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="widget-item">
                        <a class="widget-link widget-link-1" href="">
                            <div>
                                <i class="fas fa-folder"></i>
                                <span class="widget-link--text">Sheets</span>
                            </div>

                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="widget-item">
                        <a class="widget-link widget-link-1" href="">
                            <div>
                                <i class="fas fa-folder"></i>
                                <span class="widget-link--text">More</span>
                            </div>

                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>

            </div>
            <a href="" class="create-btn"><span>Create new</span> <i class="fas fa-plus"></i></a>
        </div>
    </div>

</div>

