//Theme color
$primary-color:#5864FF;
$accent-color:#6973FF;

$secondary-color:#F6F8FB;
$third-color:#DCD6F7;
$fourth-color:#A6B1E1;

//default color
$pure-white:#fff;
$pure-black:#000;
$black:#303133;
$more-black:#282923;

//default color
$gray-darker:#333333;
$gray-dark:#696969;
$gray:#8c8c8c;
$gray-normal:#f1f1f1;
$gray-lighter:#eeeeee;
$grey:#f4f4f4;

$a-red:#e14546;
$a-grey:#f9f9f9;
$a-but:#ed7745;


//dashboard color



$product-boxshadow:0 3px 16px 0 rgba(0,0,0,.11);
$header-box-shadow:0 3px 6px -6px #747474;

//hover color
$product-box-shadow:0 7px 8px rgba(0, 0, 0,.1);

//border color
$hr:1px solid #ddd;
$border:1px solid #999;
$border_1:1px solid #eee;

