{% include 'dash-top.njk' %}


<div id="wrapper">
    <!--sidebar-->
    {% include 'sidebar.njk' %}

    <!--main layout-->
    {% include 'main.njk' %}

    <!--rightside-->
    {% include 'rightside.njk' %}

</div>


{% include 'dash-bottom.njk' %}

