body{
    padding:0;
    margin:0 auto;
}

ul{
    list-style: none;
    margin:0;
    li{
        list-style: none;
    }
}

a{
    text-decoration: none;
    &:hover{
        text-decoration:none
    }
}


.owl-carousel .owl-nav.disabled{
    display: block !important;
}





//
//.nav-pills .nav-link{
//    background-color: transparent !important;
//}

//.active .products-title {
//    color: $secondary-color;
//
//    &::after{
//
//        background-color: $secondary-color;
//        content: ' ';
//        height: 2px;
//        width: 100%;
//        display: block;
//
//        bottom: -10px;
//        left: 0;
//
//    }
//
//
//}
//
//.owl-item{
//    display: flex;
//    justify-content: center;
//}


