.owl-carousel .owl-nav {
    
    .owl-prev{
        position: absolute;
        top: 50% !important;
        left: 0;

}

.owl-next{
    position: absolute;
    right: 0;
    top: 50% !important;
    
}
}